body
{
 margin : 0px;
 padding : 0px;
 min-width : 1000px;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src : url(opensans.woff);
}

#header_wrapper
{
 background-color : black;
 color : white;
 font-family: 'Open Sans', sans-serif;
 min-width : 1000px;
}
#header
{
 width : 100%;
 min-width : 1000px;
 margin : 0px auto;
}
#header>.row>div
{
padding : 20px 0px 5px 0px;
text-align: center;
font-size: 15px;
}
#header>.row>#title
{
text-align : right;
font-size : 30px;
padding : 8px 0px 5px 0px;
}
#dell_logo
{
height: 50px;
width: 50px;
}
a,a:hover {
 color: white;
 text-decoration: none
}
a:visited {
 color: white;
}
#about >a>img {
    height:28px;
    width: 32px;
    position: relative;
    left: 60%;
    top: -2px;
}