body {
font-family: Arial;
border: 0 none;
}
#visualization{
    max-width: 98.75%;
    margin-top: 5px;
}
#loading > img {
    width: 600px;
    position:  relative;
    left: 30%;
}
#disclaimer {
    margin: 30px;
    font-family: 'Open Sans';
    font-size: 15px;
}