#phrases>div>.row> div
{
 padding : 0.5%;
 cursor: auto;
}
#tweet_content {
 color: black;
}
#phrases > div > .row:nth-child(2n) {
 position: relative;
 left: 2%;
 margin: 10px 0px;
}
#phrases > #phrase_ctrl > div {
 left: 20%;
}
#phrases>#phrase_ctrl>#data_box {
 color:black;
 left: 22%;
 box-shadow: none;
}
#phrases > #tweets {
 color : white;
 font-size: 16px;
 font-weight: bold;
}